html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.video-box {
  width: 100%;
  max-width: 100%;
  height: 80vh;
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container .video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
